body{
    background-color: darkgray;
}
h1 {
    background-color:blue; text-align: center; font-size: 160%
}
nav{
    text-align: center; font-family: serif; font-size: 120%
}
h2{
    background-color: blue; text-align: center
}
p{
    font-family: inherit; font-size: 110%;text-align: left;color: black
}